@model IEnumerable<tourism.Models.Rate>

@{
    ViewBag.Title = "Home Page";
}

<!-- main-slider -->
<section class="w3l-main-slider" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2">
                        <div class="banner-info text-center">
                            <div class="container">
                                <div class="banner-info-bg fa fa ">
                                    <h5><img src="~/Content/assets/images/970368.png" width="110" height="100" /></h5>
                                    <h5>وفر وقتك ومالك</h5>
                                    <p class="mt-4 pr-lg-4">
                                        احجز طول مدة اقامتك في افخم وافضل الفنادق بارخص الاسعار والتكاليف من اي مكان
                                    </p>
                                    @*<a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="@Url.Action( "About", "Home")"><spna><b>  من نحن  </b></spna><span class="fa fa-users"></span></a>*@


                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info  banner-view banner-top1 bg bg2">
                        <div class="banner-info text-center">
                            <div class="container">
                                <div class="banner-info-bg fa fa ">
                                    <h5><img src="~/Content/assets/images/970368.png" width="110" height="100" /></h5>
                                    <h5>وفر وقتك ومالك</h5>
                                    <p class="mt-4 pr-lg-4">
                                        احجز طول مدة اقامتك في افخم وافضل الفنادق بارخص الاسعار والتكاليف من اي مكان
                                    </p>

                                    @*<a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="@Url.Action( "About", "Home")"><spna><b>  من نحن  </b></spna><span class="fa fa-users"></span></a>*@


                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top2 bg bg2">
                        <div class="banner-info text-center">
                            <div class="container">
                                <div class="banner-info-bg fa fa ">
                                    <h5><img src="~/Content/assets/images/970368.png" width="110" height="100" /></h5>
                                    <h5>وفر وقتك ومالك</h5>
                                    <p class="mt-4 pr-lg-4">
                                        احجز طول مدة اقامتك في افخم وافضل الفنادق بارخص الاسعار والتكاليف من اي مكان
                                    </p>
                                    @*<a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="@Url.Action( "About", "Home")"><spna><b>  من نحن  </b></spna><span class="fa fa-users"></span></a>*@


                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view banner-top3 bg bg2">
                        <div class="banner-info text-center">
                            <div class="container">
                                <div class="banner-info-bg fa fa ">
                                    <h5><img src="~/Content/assets/images/970368.png" width="110" height="100" /></h5>
                                    <h5>وفر وقتك ومالك</h5>
                                    <p class="mt-4 pr-lg-4">
                                        احجز طول مدة اقامتك في افخم وافضل الفنادق بارخص الاسعار والتكاليف من اي مكان
                                    </p>
                                    @*<a class="btn btn-style btn-primary mt-xl-5 mt-4 mr-2" href="@Url.Action( "About", "Home")"><spna><b>  من نحن  </b></spna><span class="fa fa-users"></span></a>*@


                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </div>
        </div>


    </div>
</section>























<div class="w3l-homeblog py-5" id="homeblog">
    <div class="container py-lg-5 py-md-4">
        <div class="header-title mb-3">
            <span class="sub-title"> استكشف افضل الفنادق والرحلات السياحية</span>
            <h3 class="hny-title text-right">اهم المحافظات السياحية</h3>
        </div>
        <div class="row top-pics ">

                          <div class="blog-desc text-center">
                                <br />-->
                                @*<a class="btn btn-primary btn-style mt-4" href=" @Url.Action("Details", "Rates", new { id = item.R_Id, style = "color:white" })">التفاصيل</a>*@
                                @*@Html.ActionLink("التفاصيل", "Details", "Rates",  new { id = item.R_Id, style = "color:white" })*@

                            <!--</div>
                        </div>
                    </div>
                </div>
            }-->
            <br />
        </div>
    </div>
</div>


@**@
@**@
@**@
@**@
@**@
@**@
@**@
@**@
@**@
@**@
@**@
@**@
@**@


<div style="margin-left:5%;margin-right:5%">
    <video controls="controls" width="100%" height="100%">
        <source src="~/Content/vedio/_%d8%b1%d8%ad%d9%84%d8%a9%20%d8%b3%d8%a7%d8%a6%d8%ad%20%d9%81%d9%8a%20%d9%85%d8%b5%d8%b1_%20..%20%d9%81%d9%8a%d8%af%d9%8a%d9%88%20%d8%aa%d8%b1%d9%88%d9%8a%d8%ac%d9%89%20%d8%ac%d8%af%d9%8a%d8%af%20%d9%84%d9%84%d8%b3%d9%8a%d8%a7%d8%ad%d8%a9%20%d8%a7%d9%84%d9%85%d8%b5%d8%b1%d9%8a%d8%a9.mp4" type="video/mp4" />
    </video>
</div>
<br />
<br />
<!-- home page video popup section -->
<!--<section class="w3l-videohny" id="video">
    <div class="new-block py-5">
        <div class="container py-lg-5">
            <div class="history-info position-relative">-->
<!--//video-->
<!--<a href="#small-dialog" class="popup-with-zoom-anim play-view text-center pl-3">
    <span class="video-play-icon">
        <span class="fa fa-play"></span>
    </span>
</a>-->
<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
<!--<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
    <video controls="controls" width="100%" height="100%">
        <source src="~/Content/vedio/_%d8%b1%d8%ad%d9%84%d8%a9%20%d8%b3%d8%a7%d8%a6%d8%ad%20%d9%81%d9%8a%20%d9%85%d8%b5%d8%b1_%20..%20%d9%81%d9%8a%d8%af%d9%8a%d9%88%20%d8%aa%d8%b1%d9%88%d9%8a%d8%ac%d9%89%20%d8%ac%d8%af%d9%8a%d8%af%20%d9%84%d9%84%d8%b3%d9%8a%d8%a7%d8%ad%d8%a9%20%d8%a7%d9%84%d9%85%d8%b5%d8%b1%d9%8a%d8%a9.mp4" type="video/mp4" />
    </video>e>
</div>-->
<!--//video-->
<!--</div>-->
<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
<!--<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                <iframe src="https://player.vimeo.com/video/18212142" frameborder="0"
                        allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>-->
<!-- //home page video popup section -->



@if (User.IsInRole("Admin"))
{
    <div class="card-body">


        <!-- /feature-left-->

        <div class="area-box"
             style=" border: 1px outset #0c49e4; border-radius: 20px;padding:15px;width: auto; height: auto; background-color: #afafafc2;text-align:center">
            <div class="row">


                <div class="col-sm-2 text-center" style="text-align:center">
                    <a href="@Url.Action("Index", "Rooms")" class=" btn btn-primary"><h4>صفحة الغرف</h4></a>

                </div>
                <div class="col-sm-2 text-center" style="text-align:center">
                    <a href="@Url.Action("Index", "Hotels")" class=" btn btn-primary"><h4>صفحة الفنادق</h4></a>

                </div>
                <div class="col-sm-2 text-center" style="text-align:center">
                    <a href="@Url.Action("Index", "Rates")" class=" btn btn-primary   "><h4>صفحة المحافظات</h4></a>

                </div>
                <div class="col-sm-2 text-center" style="text-align:center">
                    <a href="@Url.Action("Index", "Bookings")" class=" btn btn-primary"><h4>صفحة الحجوزات</h4></a>

                </div>
                <div class="col-sm-2 text-center" style="text-align:center">
                    <a href="@Url.Action("Index", "Contacts")" class=" btn btn-primary"><h4>صفحة الاتصالات</h4></a>

                </div>
            </div>
        </div>
        <br />


    </div>
}









<!-- /main-slider -->
<!--<div class="w3l-homeblog py-5" id="homeblog">
    <div class="container py-lg-5 py-md-4">
        <div class="header-title mb-3">
            <span class="sub-title">استكشف بنفسك</span>
            <h3 class="hny-title text-right">اهم المحافظات السياحية</h3>
        </div>
        <div class="row top-pics ">



            <div class="col-lg-3 col-md-6 mt-5">
                <div class="top-pic1">
                    <div class="card-body blog-details">
                        <p class="course-sub">283 online courses</p>
                        <a href="services.html" class="blog-desc text-center">
                            الغردقة
                        </a>
                        <div class="author align-items-center">
                            <img src="assets/images/admin.jpg" alt="" class="img-fluid rounded-circle">
                            <ul class="blog-meta">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> 40 Lessons </span>. <span class="meta-value text-bold">$89.00</span>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5">
                <div class="top-pic2">
                    <div class="card-body blog-details">
                        <p class="course-sub">383 online courses</p>
                        <a href="services.html" class="blog-desc text-center">
                            الساحل الشمالي
                        </a>
                        <div class="author align-items-center">
                            <img src="assets/images/admin.jpg" alt="" class="img-fluid rounded-circle">
                            <ul class="blog-meta">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> 30 Lessons </span>. <span class="meta-value text-bold">$49.00</span>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5">
                <div class="top-pic3">
                    <div class="card-body blog-details">
                        <p class="course-sub">483 online courses</p>
                        <a href="services.html" class="blog-desc text-center">
                            الإسكندرية
                        </a>
                        <div class="author align-items-center">
                            <img src="assets/images/admin.jpg" alt="" class="img-fluid rounded-circle">
                            <ul class="blog-meta">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> 30 Lessons </span>. <span class="meta-value text-bold">$59.00</span>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5">
                <div class="top-pic4">
                    <div class="card-body blog-details">
                        <p class="course-sub">583 online courses</p>
                        <a href="services.html" class="blog-desc text-center">
                            القاهرة
                        </a>
                        <div class="author align-items-center">
                            <img src="assets/images/admin.jpg" alt="" class="img-fluid rounded-circle">
                            <ul class="blog-meta">
                                <li class="meta-item blog-lesson">
                                    <span class="meta-value"> 20 Lessons </span>. <span class="meta-value text-bold">$49.00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5">
                <div class="top-pic5">
                    <div class="card-body blog-details">
                        <p class="course-sub">283 online courses</p>
                        <a href="services.html" class="blog-desc text-center">
                            أسوان
                        </a>
                        <div class="author align-items-center">
                            <img src="assets/images/admin.jpg" alt="" class="img-fluid rounded-circle">
                            <ul class="blog-meta">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> 40 Lessons </span>. <span class="meta-value text-bold">$89.00</span>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5">
                <div class="top-pic6">
                    <div class="card-body blog-details">
                        <p class="course-sub">383 online courses</p>
                        <a href="services.html" class="blog-desc text-center">
                            شرم الشيخ
                        </a>
                        <div class="author align-items-center">
                            <img src="assets/images/admin.jpg" alt="" class="img-fluid rounded-circle">
                            <ul class="blog-meta">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> 30 Lessons </span>. <span class="meta-value text-bold">$49.00</span>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5">
                <div class="top-pic7">
                    <div class="card-body blog-details">
                        <p class="course-sub">483 online courses</p>
                        <a href="services.html" class="blog-desc text-center">
                            العين السخنة
                        </a>
                        <div class="author align-items-center">
                            <img src="assets/images/admin.jpg" alt="" class="img-fluid rounded-circle">
                            <ul class="blog-meta">
                                <ul class="blog-meta">
                                    <li class="meta-item blog-lesson">
                                        <span class="meta-value"> 30 Lessons </span>. <span class="meta-value text-bold">$59.00</span>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5">
                <div class="top-pic8">
                    <div class="card-body blog-details">
                        <p class="course-sub">583 online courses</p>
                        <a href="services.html" class="blog-desc text-center">
                            الأقصر
                        </a>
                        <div class="author align-items-center">
                            <img src="assets/images/admin.jpg" alt="" class="img-fluid rounded-circle">
                            <ul class="blog-meta">
                                <li class="meta-item blog-lesson">
                                    <span class="meta-value"> 20 Lessons </span>. <span class="meta-value text-bold">$49.00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="readhny-btm text-center mx-auto mt-md-4">
                <a class="btn btn-primary btn-style mt-md-5 mt-4" href="about.html">
                    Read More <span class="fa fa-chevron-right ml-2" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</div>-->
